@media (min-width: 1281px ){
    /* PC */
   
}
@media (min-width: 1024px ) and (max-width:1280px){ 
     /* laptop */
     .img-wrap {
        position: relative;
        width: 20%;
    left: 40%;
    
    
      }
      i{
        position: absolute;
        font-size:110px;
        border:  5px dashed black;
        margin: 20px;
        border-radius: 30px;
        padding: 10px;
        
        
      }
    
      center {
    width: 80%;
    position: absolute;
    top: 200px;
    left: 1%;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    cursor: pointer;
    
      }
    
    
      .img-wrap2 {
        position: relative;
        width: 20%;
        top: 490px;
    left: 40%;
    
    
      }
    
    
    
    .luseer{
    width: 10%;
    display: none;
    font-size: 70px;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    color: brown;
    left: 350px;
    top: 70px;
    
    }
}
@media (min-width: 768px ) and (max-width: 1023px ) {
   /* tablet */
   .img-wrap {
    position: relative;
    width: 20%;
left: 40%;


  }
  i{
    position: absolute;
    font-size:110px;
    border:  5px dashed black;
    margin: 20px;
    border-radius: 30px;
    padding: 10px;
    
    
  }

  center {
width: 75%;
position: absolute;
top: 200px;
left: 1%;
justify-content: space-between;
display: flex;
flex-direction: row;
text-align: center;
align-items: center;
cursor: pointer;

  }


  .img-wrap2 {
    position: relative;
    width: 20%;
    top: 490px;
left: 40%;


  }



.luseer{
width: 10%;
display: none;
font-size: 60px;
position: absolute;
font-family: Arial, Helvetica, sans-serif;
color: brown;
left: 250px;
top: 70px;

}
  
}
@media (min-width: 481px ) and ( max-width:767px) {
    /* phone big */
    .img-wrap {
        position: relative;
        width: 70%;
    left: 30%;
    
    
      }
      i{
        position: absolute;
        font-size:110px;
        border:  5px dashed black;
        margin: 20px;
        border-radius: 30px;
        padding: 10px;
        
        
      }
    
      center {
    width: 60%;
    position: absolute;
    top: 200px;
    left: 1%;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    cursor: pointer;
      }
    
    
      .img-wrap2 {
        position: relative;
        width: 20%;
        top: 490px;
    left: 30%;
    
    
      }
    
    
    
    .luseer{
    width: 10%;
    display: none;
    font-size: 60px;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    color: brown;
    left: 100px;
    top: 70px;
    
    }
  
}
@media (min-width: 320px ) and (max-width:480px) {
    /* phone */
    
    .img-wrap {
        position: relative;
        width: 20%;
    left: 20%;
    
    
      }
      i{
        position: absolute;
        font-size:110px;
        border:  5px dashed black;
        margin: 20px;
        border-radius: 30px;
        padding: 10px;
        
        
      }
    
      center {
    width: 10%;
    height: 70vh;
    position: absolute;
    top: 150px;
    left: 100px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    cursor: pointer;
      }
    
    
      .img-wrap2 {
        position: relative;
        width: 20%;
        top: 490px;
    left: 20%;
    
    
      }
    
    
    
    .luseer{
    width: 10%;
    display: none;
    font-size: 40px;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    color: brown;
    left: 0px;
    top: 140px;
    
    }
}